.ic {
    span {
        font-size: 11px;
        font-weight: 500;
        color: white;
    }

    mat-icon {
        height: 15px;
        width: 15px;
        font-size: 15px;
    }
}

.img {
    img {
        height: 80px;
        background: #c1c1c1;
        width: 80px;
        border-radius: 50%;
        object-fit: cover;
    }
}

.btn-edit {
    background-color: #6b46c1;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.info-container {
    background-color: white;
    height: 100vh;
    box-sizing: border-box;
    padding: 30px 35px;
}

.info-item {
    align-items: center;
    padding: 30px 35px;
    text-align: center;
    
    span {
        font-weight: 500;
        margin: 15px 0 5px 0;
        font-size: 14px;
        width: 200px;
    }

    p {
        font-size: 12px;
        font-weight: 500;
        color: #acacacff;
    }
}