<div class="info-container flex-col">
    <div class="ic flex-betw">
        <div class="btn-edit flex-cen">
            <span>Edit</span>
        </div>
        <div class="flex-cen" style="cursor: pointer;" (click)="logout()">
            <mat-icon>logout</mat-icon>
        </div>
    </div>
    <div class="info-item flex-col">
        <div class="img">
            @if (user.role.toLowerCase() === 'student') {
                @if (student().img === '') {
                    <img src="default-avatar.jpg" alt="">
                } @else {
                    <img src="{{ student().img }}" alt="">
                }
            } @else {
                <img src="{{ teacher().img }}" alt="">
            }
        </div>
        <span>{{ usName() }}</span>
        <p>{{ user.role }}</p>
    </div>
</div>