<div class="info-container flex-col">
    <div class="ic flex-betw">
        <div class="btn-edit flex-cen">
            <span>Edit</span>
        </div>
        <div class="flex-cen" style="cursor: pointer;" (click)="logout()">
            <mat-icon>logout</mat-icon>
        </div>
    </div>
    <div class="info-item flex-col">
        <div class="img">
            <img [src]="userStore.avatarUrl()" alt="">
        </div>
        <span>{{ userStore.userName() }}</span>
        <p>{{ userStore.normalizedRole() }}</p>
    </div>

    <div class="notification-section mt-20">
        @if (notifications().length > 0) {
            <div class="notification-toolbar flex-end">
                <button type="button" class="btn-clear flex-cen" (click)="clearAllNotifications()">
                    <mat-icon>delete_sweep</mat-icon>
                    <span>Clear all</span>
                </button>
            </div>
        }

        <div class="notification-list mt-10">
            @for (item of notifications(); track item.id) {
                <div class="notification-item flex-betw" [class.unread]="!item.read" [class.expanded]="isExpanded(item.id)" (click)="onNotificationClick(item.id)">
                    <div class="notification-leading flex-cen" [class.unread]="!item.read">
                        <mat-icon>{{ item.read ? 'mark_email_read' : 'notifications_active' }}</mat-icon>
                    </div>

                    <div class="notification-content flex-col">
                        <p class="notification-title">{{ item.title }}</p>
                        <span class="notification-message">{{ item.message }}</span>
                    </div>

                    <div class="notification-right flex-col">
                        @if (!item.read) {
                            <span class="dot"></span>
                        }
                        <span class="notification-time">{{ item.time }}</span>
                    </div>
                </div>
            } @empty {
                <div class="notification-empty flex-cen">
                    <span>No notifications</span>
                </div>
            }
        </div>
    </div>
</div>