<div class="info-container flex-col">
    <div class="ic flex-betw">
        <div class="btn-edit flex-cen">
            <span>Edit</span>
        </div>
        <div class="flex-cen" style="cursor: pointer;" (click)="logout()">
            <mat-icon>logout</mat-icon>
        </div>
    </div>
    <div class="info-item flex-col">
        <div class="img">
            <img [src]="userStore.avatarUrl()" alt="">
        </div>
        <span>{{ userStore.userName() }}</span>
        <p>{{ userStore.normalizedRole() }}</p>
    </div>
</div>