* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

.flex-cen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-betw {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-cen {
    text-align: center;
}

input[type="radio"],
input[type="checkbox"] {
  accent-color: #6b46c1; 
}

.scroll-y {
    overflow-y: auto;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.mr-26 {
    margin-right: 26px;
}

.mr-30 {
    margin-right: 30px;
}

.border-box {
    box-sizing: border-box;
}